Repository Pong420/studio-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "prettier --ignore-path .eslintignore --write"
  ],
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "bash -c \"tsc --noEmit\"",
    "prettier --ignore-path .eslintignore --write"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc}}": ["prettier --ignore-path .eslintignore --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

feat(): update readme
  README.md
Due: prettier --ignore-path .eslintignore --single-quote --write

feat(): add spine usage example
  README.md
  src/components/Spine.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

fix(): git ignore
  .gitignore
Due: none

fix(): scss configuration
  README.md
  app.config.js
  src/styles/index.scss
  src/styles/scss/index.scss
  src/styles/scss/variables.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

fix(): types
  src/react-app-env.d.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): spine comp
  src/components/Spine.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): circle
  src/components/Circle/Circle.module.scss
  src/utils/circle.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): initial circle
  src/App.tsx
  src/components/Circle/Circle.module.scss
  src/components/Circle/Circle.tsx
  src/components/Circle/index.tsx
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/utils/circle.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): initial dimension
  src/App.tsx
  src/assets/background.png
  src/components/BonusPick/BonusPick.module.scss
  src/components/BonusPick/BonusPick.tsx
  src/components/BonusPick/index.ts
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/components/Main/index.ts
  src/styles/index.scss
  src/styles/scss/index.scss
  src/utils/sector.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): make main container better
  src/components/BonusPick/BonusPick.module.scss
  src/components/BonusPick/BonusPick.tsx
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): structure
  package-lock.json
  package.json
  src/App.tsx
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/games/BonusPick/BonusPick.module.scss
  src/games/BonusPick/BonusPick.tsx
  src/games/BonusPick/index.ts
  src/games/Entry.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/index.tsx
  src/routes.tsx
  src/styles/index.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

fix(): typo
  src/components/Main/Main.module.scss
Due: prettier --ignore-path .eslintignore --single-quote --write

feat(): create component script
  package.json
  scripts/component.js
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write

refactor(): main container
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add controller props to main container
  src/components/Main/Main.module.scss
  src/components/Main/Main.tsx
  src/styles/index.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): update bonus ring
  package-lock.json
  package.json
  src/components/Circle/Circle.tsx
  src/games/BonusPick/BonusCircle/BonusCircle.module.scss
  src/games/BonusPick/BonusCircle/BonusCircle.tsx
  src/games/BonusPick/BonusCircle/index.ts
  src/games/BonusPick/BonusPick.module.scss
  src/games/BonusPick/BonusPick.tsx
  src/games/BonusPick/BonusRing/BonusRing.module.scss
  src/games/BonusPick/BonusRing/BonusRing.tsx
  src/games/BonusPick/BonusRing/index.ts
  src/utils/circle.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add rotate
  src/components/Circle/Circle.tsx
  src/games/BonusPick/BonusCircle/BonusCircle.module.scss
  src/games/BonusPick/BonusCircle/BonusCircle.tsx
  src/games/BonusPick/BonusPick.tsx
  src/games/BonusPick/BonusRing/BonusRing.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): make it better
  src/components/Main/Main.tsx
  src/games/BonusPick/BonusCircle/BonusCircle.tsx
  src/games/BonusPick/BonusRing/BonusRing.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): upgrade node,npm version limit
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --write

fix(): package
  package-lock.json
  package.json
Due: prettier --ignore-path .eslintignore --write

fix(): bonus circle rotate
  src/games/BonusPick/BonusCircle/BonusCircle.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

feat(): add assets handling
  .env
  README.md
  package-lock.json
  package.json
  src/components/Main/Main.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/assets/bg_coin_blue_large.png
  src/games/LuckyCoinFlip/assets/bg_coin_red_large.png
  src/games/LuckyCoinFlip/assets/icon_coin_blue_small.png
  src/games/LuckyCoinFlip/assets/icon_coin_red_small.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_0.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_1.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_2.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_3.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_4.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_5.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_6.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_7.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_8.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_9.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_x.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_0.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_1.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_2.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_3.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_4.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_5.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_6.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_7.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_8.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_9.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_x.png
  src/hooks/useAssets.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add lucky coin
  src/games/BonusPick/BonusPick.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoin/index.ts
  src/games/LuckyCoinFlip/LuckyCoinFlip.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/LuckyCoinFlipBottom.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/LuckyCoinFlipBottom.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/index.ts
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/index.ts
  src/hooks/useAssets.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add lucky coin flip animation
  src/components/MotionBlur/MotionBlur.module.scss
  src/components/MotionBlur/MotionBlur.tsx
  src/components/MotionBlur/index.ts
  src/games/BonusPick/BonusCircle/BonusCircle.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.module.scss
  src/games/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/games/LuckyCoinFlip/LuckyCoinCountDown/index.ts
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/LuckyCoinFlipBottom.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/LuckyCoinFlipBottom.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipBottom/index.ts
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/games/LuckyCoinFlip/LuckyCoinMarquee/index.ts
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/hooks/useAssets.ts
  src/styles/scss/index.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): make it better
  public/index.html
  src/games/Entry.tsx
  src/index.tsx
  src/reportWebVitals.ts
  src/routes.tsx
  src/setupTests.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): typo
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): make it better
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): lucky coin
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_0.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_1.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_2.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_3.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_4.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_5.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_6.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_7.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_8.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_9.png
  src/games/LuckyCoinFlip/assets/text_coin_blue/txt_blue_coin_x.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_0.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_1.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_2.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_3.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_4.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_5.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_6.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_7.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_8.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_9.png
  src/games/LuckyCoinFlip/assets/text_coin_red/txt_red_coin_x.png
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): lucky coin flip
  .lintstagedrc.json
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.module.scss
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add coin flip result
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.module.scss
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/index.ts
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): assets
  README.md
  package-lock.json
  package.json
  src/components/Main/Main.tsx
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/hooks/useAssets.ts
  src/hooks/usePreloadAssets.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): classnames
  src/components/Main/Main.tsx
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): add button component
  src/components/Button/Button.module.scss
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/Main/Main.tsx
  src/styles/index.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

feat(): add logger
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/utils/logger.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

feat(): init socket setup
  package-lock.json
  package.json
  src/sockets/DataServer.ts
  src/sockets/ProtoResp.ts
  src/sockets/SocketBase.ts
  src/types.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): implement new coin clip resource
  src/components/Main/Main.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/games/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.module.scss
  src/games/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.tsx
  src/games/LuckyCoinFlip/LuckyCoinRing/index.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

chore(): typo
  src/components/Main/Main.tsx
  src/games/BonusPick/BonusPick.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): build dir
  .env
  .gitignore
Due: none
