Repository Pong420/studio-client: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "prettier --ignore-path .eslintignore --write"
  ],
  "*.{ts,tsx}": [
    "eslint --rule 'no-console: [\"error\", { allow: [\"warn\", \"error\", \"debug\"] }]' --rule 'no-debugger: [\"error\"]' --max-warnings=0",
    "bash -c \"tsc --noEmit\"",
    "prettier --ignore-path .eslintignore --write"
  ],
  "{*.json,.{babelrc,eslintrc,prettierrc}}": ["prettier --ignore-path .eslintignore --write"],
  "*.{css,scss}": ["prettier --ignore-path .eslintignore --single-quote --write"],
  "*.{yml,md}": ["prettier --ignore-path .eslintignore --single-quote --write"]
}

refactor(): rename main component to layout
  README.md
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/components/Main/index.ts
  src/games/BonusPick/BonusPick.tsx
  src/games/BonusPick/BonusRing/BonusRing.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): layout
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/games/Entry.tsx
  src/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): control
  .env
  package.json
  src/components/Layout/Layout.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): build
  package.json
  src/components/Layout/Layout.tsx
  src/games/Entry.tsx
  src/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

feat(): add page for screenshot
  public/screenshot.html
Due: none

fix(): build
  package.json
Due: prettier --ignore-path .eslintignore --write

feat(): init socket
  .eslintignore
  .eslintrc.js
  .gitmodules
  package-lock.json
  package.json
  public/host.json
  scripts/protobuf.sh
  src/App.tsx
  src/constants.ts
  src/hooks/useDataSocket.ts
  src/index.tsx
  src/protobuf/index.ts
  src/protobuf/protobuf.d.ts
  src/protobuf/protobuf.js
  src/sockets/DataServer.ts
  src/sockets/DataSocket.ts
  src/sockets/LoginResp.ts
  src/sockets/ProtoResp.ts
  src/sockets/SocketBase.ts
  src/sockets/SocketEmitter.ts
  src/sockets/protocol.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): typo
  src/App.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): layout
  package-lock.json
  package.json
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Mask/Mask.module.scss
  src/components/Mask/Mask.tsx
  src/components/Mask/genMaskDataUrl.ts
  src/components/Mask/index.ts
  src/games/Entry.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): mask
  src/components/Mask/Mask.module.scss
  src/components/Mask/Mask.tsx
  src/components/Mask/genMaskDataUrl.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): socket structure
  src/sockets/DataSocket.ts
  src/sockets/SocketBase.ts
  src/sockets/index.ts
  src/sockets/response/LoginResp.ts
  src/sockets/response/ProtoResp.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): socket
  src/App.tsx
  src/hooks/useDataSocket.ts
  src/sockets/DataSocket.ts
  src/sockets/SocketBase.ts
  src/sockets/index.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): layout
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/games/BonusPick/BonusPick.tsx
  src/games/Entry.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): layout
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/games/BonusPick/BonusPick.tsx
  src/games/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): router, steps
  src/components/Layout/Layout.tsx
  src/games/Entry.tsx
  src/games/LuckyCoinFlip/LuckyCoinDisplay.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/hooks/useSteps.ts
  src/routes/helper.ts
  src/routes/index.ts
  src/routes/paths.ts
  src/routes/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

feat(): update coin
  src/assets/bg_coin_winner_large.png
  src/assets/misc_coin_glow.png
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/games/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/games/LuckyCoinFlip/LuckyCoinDisplay.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/games/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/utils/random.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

fix(): make it better
  app.config.js
  src/components/Layout/Layout.module.scss
  src/components/Mask/Mask.module.scss
  src/styles/scss/variables.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, prettier --ignore-path .eslintignore --single-quote --write

fix(): typo
  src/games/BonusPick/BonusPick.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): routes
  src/components/Layout/Layout.tsx
  src/games/Entry.tsx
  src/routes/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): layout
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/games/BonusPick/BonusPick.tsx
  src/games/BonusPick/BonusRing/BonusRing.tsx
  src/games/Entry.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/games/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/games/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/hooks/useGameState.ts
  src/routes/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): structure
  src/App.tsx
  src/Entry.tsx
  src/components/BonusPick/BonusCircle/BonusCircle.module.scss
  src/components/BonusPick/BonusCircle/BonusCircle.tsx
  src/components/BonusPick/BonusCircle/index.ts
  src/components/BonusPick/BonusPick.tsx
  src/components/BonusPick/BonusRing/BonusRing.module.scss
  src/components/BonusPick/BonusRing/BonusRing.tsx
  src/components/BonusPick/BonusRing/index.ts
  src/components/BonusPick/index.ts
  src/components/Layout/Layout.tsx
  src/components/LuckyCoinFlip/LuckyCoin/LuckyCoin.module.scss
  src/components/LuckyCoinFlip/LuckyCoin/LuckyCoin.tsx
  src/components/LuckyCoinFlip/LuckyCoin/index.ts
  src/components/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.module.scss
  src/components/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/components/LuckyCoinFlip/LuckyCoinCountDown/index.ts
  src/components/LuckyCoinFlip/LuckyCoinDisplay.tsx
  src/components/LuckyCoinFlip/LuckyCoinFlip.tsx
  src/components/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.module.scss
  src/components/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/components/LuckyCoinFlip/LuckyCoinFlipResult/index.ts
  src/components/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.module.scss
  src/components/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/components/LuckyCoinFlip/LuckyCoinMarquee/index.ts
  src/components/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.module.scss
  src/components/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.scss
  src/components/LuckyCoinFlip/LuckyCoinMultiplier/LuckyCoinMultiplier.tsx
  src/components/LuckyCoinFlip/LuckyCoinMultiplier/index.ts
  src/components/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.module.scss
  src/components/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.tsx
  src/components/LuckyCoinFlip/LuckyCoinRing/index.ts
  src/components/LuckyCoinFlip/index.tsx
  src/routes/routes.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

fix(): typo
  public/robots.txt
  public/screenshot.html
Due: none

remove server related
  .gitmodules
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/useDataSocket.ts
  src/hooks/useGameState.ts
  src/protobuf/index.ts
  src/protobuf/protobuf.d.ts
  src/protobuf/protobuf.js
  src/sockets/DataSocket.ts
  src/sockets/SocketBase.ts
  src/sockets/SocketEmitter.ts
  src/sockets/index.ts
  src/sockets/protocol.ts
  src/sockets/response/LoginResp.ts
  src/sockets/response/ProtoResp.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

fix(): remove preload assets
  package-lock.json
  package.json
  src/App.tsx
  src/hooks/usePreloadAssets.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

refactor(): layout
  .env
  package.json
  src/components/Layout/Layout.module.scss
  src/components/Layout/Layout.tsx
  src/components/Mask/Mask.module.scss
  src/components/Mask/Mask.tsx
  src/routes/routes.tsx
  src/styles/scss/variables.scss
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

refactor(): lcf ring
  src/components/LuckyCoinFlip/LuckyCoinCountDown/LuckyCoinCountDown.tsx
  src/components/LuckyCoinFlip/LuckyCoinFlipResult/LuckyCoinFlipResult.tsx
  src/components/LuckyCoinFlip/LuckyCoinMarquee/LuckyCoinMarquee.tsx
  src/components/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.module.scss
  src/components/LuckyCoinFlip/LuckyCoinRing/LuckyCoinRing.tsx
  src/components/LuckyCoinFlip/LuckyCoinWheel/LuckyCoinWheel.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit", prettier --ignore-path .eslintignore --single-quote --write

fix(): route and bonus ring issue
  src/components/Circle/Circle.tsx
  src/routes/paths.ts
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"

feat(): update circle background
  src/components/BonusPick/BonusCircle/BonusCircle.tsx
  src/components/Circle/Circle.tsx
Due: eslint --rule 'no-console: ["error", { allow: ["warn", "error", "debug"] }]' --rule 'no-debugger: ["error"]' --max-warnings=0, prettier --ignore-path .eslintignore --write, bash -c "tsc --noEmit"
